<!-- 
Display friend list page
-->
{% extends 'base.jinja' %}


{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .home-button {
        float: left;
        margin-top: 15px;
        margin-right: 180px;
    }

</style>

<!--Navbar, show username logged in & button to Homepage-->
<nav style="border-bottom: 1px solid black;">
    <button class="home-button" onclick="to_homepage()">Home</button>
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Add Friend</h1>

<main>
    <section id="addfriend_box">
        <p class="text">Friend to be added: </p>
        <form action="{{ url_for('add_friend', username=username) }}" method="POST">
            <input id="receiver" name="receiver" placeholder="username">
            <button type="submit">Add</button>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if msg %}
            <p style="color: green;">{{ msg }}</p>
        {% endif %}
    </section>
</main>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>

     $("#receiver").on("keyup", (e) => {
        if (e.key == "Enter") {
            to_addfriend();
        }
    })

    function isValidURL(string) {
        if (string.length == 0) {
            return false;
        }
        if (string[0] == "/") {
            return true;
        }
        return false;
    }

    async function to_addfriend() {
        let receiver = $("#receiver").val();
        let username = "{{ username }}";
        let addfriendURL = "{{ url_for('add_friend', username=username, receiver=receiver) }}";
        window.location.href = addfriendURL;
    }


    async function to_homepage() {
        {# let homeURL = "{{ url_for('homepage', username=username) }}";
        window.location.href = homeURL; #}
        let homebuttonsURL = "{{ url_for('table', username=username) }}";
        window.location.href = homebuttonsURL;
    }   
</script>
{% endblock %}
