<!-- 
Display friend request page
-->
{% extends 'base.jinja' %}


{% block content %} 
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto;
    }

    .text {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .home-button {
        float: left;
        margin-top: 15px;
        margin-right: 180px;
    }

    .tab-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tab {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid black;
        cursor: pointer;
    }

    .active {
        background-color: lightgray;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    #received-content button {
        margin-top: 20px;
    }

</style>


<!--Navbar-->
<nav style="border-bottom: 1px solid black;">
    <button class="home-button" onclick="to_homepage()">Home</button>
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Friends Request</h1>

    <!-- Tabs for "Sent", and "Received" -->
    <div class="tab-container">
        <div class="tab" id="sent-tab" onclick="openTab('sent')">Sent Request</div>
        <div class="tab" id="received-tab" onclick="openTab('received')">Received Request</div>
    </div>

    <!-- Content for the tabs -->
    <div id="sent-content" class="tab-content">
        <ul>
            {# senders parsed from app.py update_friend_request return #}
            {% for sender in senders %}
                <li>{{ sender }}</li>
            {% endfor %}
        </ul>
    </div>

    <div id="received-content" class="tab-content">
        <form id="request-checkbox-form" action="/update_friend_request" method="post">
            <input type="hidden" id="action" name="action" value="">
            <input type="hidden" id="username" name="username" value="{{ username }}">
            
            {# friends parsed from app.py update_friend_request return #}
            {% for friend in friends %}
                <input type="checkbox" id="{{ friend }}" name="friends" value="{{ friend }}">
                <label for="{{ friend }}">{{ friend }}</label><br>
            {% endfor %}
            <button class="approve-button" onclick="approve_request()">Approve</button>
            <button class="reject-button" onclick="reject_request()">Reject</button>
        </form>
        {# show messages #}
        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>

    <script>
        function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        async function to_homepage() {
            {# let homeURL = "{{ url_for('homepage', username=username) }}";
            window.location.href = homeURL; #}
            let homebuttonsURL = "{{ url_for('table', username=username) }}";
            window.location.href = homebuttonsURL;
        }

        function openTab(tabName) {
            // hide tab contents
            document.querySelectorAll('.tab-content').forEach(content => {
                content.classList.remove('active');
            });
            document.querySelectorAll('.tab').forEach(tab => {
                tab.classList.remove('active');
            });

            // show tab contents & set the tab as "active"
            document.getElementById(tabName + '-content').classList.add('active');
            document.getElementById(tabName + '-tab').classList.add('active');
        }

        function approve_request() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            if (checkboxes.length > 0) {
                document.getElementById("action").value = "approve";
                document.getElementById("username").value = "{{ username }}";
                document.getElementById("request-checkbox-form").submit();
            } else {
                alert("Error: Select at least one friend to approve.");
            }
        }

        function reject_request() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            if (checkboxes.length > 0) {
                document.getElementById("action").value = "reject";
                document.getElementById("username").value = "{{ username }}";
                document.getElementById("request-checkbox-form").submit();
            } else {
                alert("Error: Select at least one friend to reject.");
            }
        }
    </script>
{% endblock %}
