{% extends 'base.jinja' %}


{% block content %} 
{# USYD CODE CITATION ACKNOWLEDGEMENT
I declare that the following lines of code have been taken from the
website titled: "CSS Buttons"
Original URL
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 #}
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    body {
        background-color: #FFFAFA;
        font-family: 'Courier New', monospace;
    }

    .heading {
        font-weight: bold;
        color: #1b3a6a;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button {
        float: left;
        clear: left;
        border: none;
        outline: none;
        color: #fff;
        display: block;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        padding: 15px 25px;
        margin-bottom: 30px;
        border-radius: 15px;
        background-color: #1b3a6a;
        box-shadow: 0 9px #bfbfbf;
        font-family: 'Courier New', monospace;
    }

    .button:hover {
        background-color: #E68A8C;
    }

    .button:active {
        background-color: #E68A8C;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .student-button, .staff-button {
        margin-left: 20px;
        margin-top: 20px;
    }
</style>

{# <!--Navbar, you'll see the username here-->
<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav> #}

<h1 class="heading">Sign Up</h1>

<main>
    <button class="button staff-button" onclick="to_staff()">I'm a staff</button>
    <button class="button student-button" onclick="to_student()">I'm a student</button>
</main>

<script>
    function isValidURL(string) {
        if (string.length == 0) {  return false;  }
        if (string[0] == "/") {  return true;  }
        return false;
    }

    {# to the original sign up page for A1 #}
    async function to_student() {
        let studentURL = "{{ url_for('signup') }}";
        window.location.href = studentURL;
    }   

    {# to the NEW SIGN UP PAGE FOR STAFF #}
    async function to_staff() { 
        let staffURL = "{{ url_for('staff_signup') }}";
        window.location.href = staffURL;
    }  

</script>
{% endblock %}