<!-- 
    Here you'll find the main exhibit: the chat application code. Feel free to look around!
-->
{% extends 'base.jinja' %}


{% block content %} 
{# USYD CODE CITATION ACKNOWLEDGEMENT
I declare that the following lines of code have been taken from the
website titled: "CSS Buttons"
Original URL
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 #}
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .button {
        display: block;
        margin-bottom: 30px;
        padding: 15px 25px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        outline: none;
        color: #fff;
        background-color: #5271ff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #adadad;
        float: left;
        clear: left;
    }

    .button:hover {
        background-color: #5271ff;
    }

    .button:active {
        background-color: #5271ff;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .home-button, .addfriend-button, .friendrequest-button, .friendlist-button {
        margin-left: 20px;
        margin-top: 20px;
    }
</style>

<!--Navbar, you'll see the username here-->
<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Home page </h1>

<main>
    {# <button class="button home-button" onclick="to_homepage()">Home</button> #}
    <button class="button friendlist-button" onclick="to_friendlist()">Friend List</button>
    <button class="button addfriend-button" onclick="to_addfriend()">Add Friend</button>
    <button class="button friendrequest-button" onclick="to_friendrequest()">Friend Request</button>
</main>

<script>
    function isValidURL(string) {
        if (string.length == 0) {  return false;  }
        if (string[0] == "/") {  return true;  }
        return false;
    }

    async function to_homepage() {
        let homeURL = "{{ url_for('homepage', username=username) }}";
        window.location.href = homeURL;
    }   

    async function to_addfriend() {      // url - app.py function name
        let addfriendURL = "{{ url_for('add_friend', username=username) }}";
        window.location.href = addfriendURL;
    }  

    async function to_friendrequest() {
        let friendrequestURL = "{{ url_for('display_friendrequest', username=username) }}";
        window.location.href = friendrequestURL;
    }  

    async function to_friendlist() {
        let friendlistURL = "{{ url_for('display_friendlist', username=username) }}";
        window.location.href = friendlistURL;
    }  

</script>
{% endblock %}